






<% @events.each do |event| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= event.title %></h3>
    </div>
    <div class="panel-body">
      <p><%= event.description %></p>
    </div>
  </div>
<% end %>
