<div class="flex-container">
     <div class=" form-login">
          <div class="light-well">
               <h2 class="page-header text-center">New Topic</h2>

               <%= render 'form', topic: @topic %>
               <br>
               <%= link_to 'Back', topics_path %>
          </div>
     </div>
</div>
