
<div class = "jumbotron jumbotron-welcome">
    <h1 class = "text-center text-white text-bold">Welcome to Dopey!</h1>
    <p class = "text-center text-white text-bold">Where want you to become
      really dope-y programmers!</p>
</div>
