<div class = "jumbotron jumbotron-welcome">
          <h2 class = "text-center text-white text-bold">Welcome to APPNAME!</h2>
          <p class = "text-center text-white text-bold">This is an example of a tagline.</p>
</div>
