
<div class = "jumbotron jumbotron-welcome">
    <h1 class = "text-center text-white text-bold">Welcome to Dopey!</h1>
    <p class = "text-center text-white text-bold">Where want you to become
      really dope-y programmers!</p>
</div>

<!-- <div class="block text-center">
  <div class="container-fluid">
    <h4 class="mb-4">
      Join over 900,000 students already using Dopey. Get Dopey <strong>free</strong> forever!
    </h4>
    <form class="form-inline d-flex justify-content-center">
      <input class="form-control mb-3" placeholder="email address">
      <input class="form-control mb-3 mx-1" type="password" placeholder="Create a Password">
      <button class="btn btn-primary mb-3">Get started - free forever</button>
    </form>
    <small class="text-muted">
      By clicking "get started – free Forever!" I agree to Dopey's
      <a href="#">Terms of service</a>
    </small>
  </div>
</div>
<div class="block block-bordered text-center">
  <div class="container-fluid">
   <blockquote class="pull-quote">
      <p>
        “Notice that simple inset border above. Isn't it lovely.”
      </p>
      <cite>Mark Otto, Huge Nerd</cite>
    </blockquote>
  </div>
</div> -->
