<div class="flex-container">
     <div class=" form-login">
          <div class="light-well">
               <h2 class="page-header text-center">New Event</h2>

               <%= render 'form', event: @event %>
               <br>
               <div class = "back-link">
                    <%= link_to 'Back', events_path %>
               </div>
          </div>
     </div>
</div>
