/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*Google Font family  */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*Font Family variable*/
$font-headlines:  'Roboto', sans-serif;
$font-text: 'Open Sans', sans-serif;

/* User sign in and sign forms. */
body {
     background-color: #F8F6F2;
     margin: auto 0;
}

.flex-container {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
}

.form-login {
     min-width: 350px;
     border-radius: 10px;
     font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
     padding: 2% 5% 5% 3%;
     border: 1px solid rgba(0,0,0,0.1);
     box-shadow: 0 20px 30px rgba(0,0,0,0.2);
     background-color: #fff;
}

.form-login h2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-family:  $font-headlines;
    font-size: 22px;
    color: #202d3b;
    border-bottom: 1px solid #ededed;
}

.form-group .checkbox {
     font-size: 14px;
     margin: 3%;
}

.form-control {
     margin: 2%;
}

.reset-password-link {
     text-decoration: none;
     color: #939393;
}

.reset-password-link:hover {
     text-decoration: none;
     color: #696969;
}

.btn {
     font-weight: bold;
}


/* Media Queries for different devise sizes */
// @media only screen and (max-width: 760px){
// }
 @media only screen and (max-width: 580px){
      .form-login {
            font-size: 12px;
            padding: 2% 10% 2% 8%;
      }
        .form-control {
             font-size: 12px;
        }

        .form-login h2 {
            font-size: 18px;
        }

        .form-group .checkbox {
             font-size: 12px;
        }
  }

  @media only screen and (max-width: 380px){
       .form-login {
            min-width: 250px;
       }
       .form-login {
             font-size: 12px;
             padding: 2% 10% 2% 8%;
       }
         .form-control {
              font-size: 12px;
         }

         .form-login h2 {
             font-size: 18px;
         }

         .form-group .checkbox {
              font-size: 12px;
         }
   }
