.social-icon {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icon li{
  display: inline-block;
  text-align: center;
}

.social-icon a {
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  margin-right: 5px;
}

.social-icon a {
  background: rgba(255, 255, 255, 0.85); /* social icon background color */
  color: #000; /* social icon color */
}

.social-icon a:hover {
  background: rgba(255, 255, 255, 0.25); /* social icon hover background color */
  color: #fff; /* social icon hover color */
}

.footer {
  position: relative;
  bottom: 0;
  margin-top: 3%;
  padding-top: 5px;
  width: 100%;
  height: 60px;
  background-color: #000;
}
